@import './colors.scss';
.bunner {
    position: absolute;
    width: 100%;
    height: 100vh;
    .main-header {
        top: 0;
        border-bottom: 4px solid $primary-color;
        .content {
            display: flex;
            align-items: center;
            justify-content: space-between;
            .search {
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
    .text {
        .content {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
            justify-content: space-between;
            background-color: rgba($color: $BG-color, $alpha: 0.6);
        }
        @supports (backdrop-filter: blur(0.5rem)){
            .content {
                backdrop-filter: blur(0.5rem);
                background-color: rgba($color: $BG-color, $alpha: 0.4);
            }
        }
    }
    .backGround {
        top: 0;
        left: 0;
        position: absolute;
        z-index: -1;
        background: url('../../public/BackGround.png');
        background-size: cover;
        background-position: right;
        width: 100%;
        height: 100vh;
        .overLay {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient($BG-color 5%,transparent);
        }
        .image {
            position: absolute;
        }
    }
}
@media only screen and (min-width: 1301px) {
    .main-header {
        height: 120px;
        .content {
            grid-column: 1/13;
            .search {
                width: 80px;
                height: 80px;
            }
        }
    }
    .text {
        height: 600px;
        padding: 100px 0;
        .content {
            grid-column: 1/9;
            height: 400px;
            padding: 50px;
            border-radius: 15px;
        }
    }
    .backGround {
        .image {
            top: 40%;
            right: 15%;
            width: 800px;
        }
    }
}
@media only screen and (max-width: 1300px) {
    .main-header {
        height: 100px;
        .content {
            grid-column: 1/13;
            .search {
                width: 70px;
                height: 70px;
            }
        }
    }
    .text {
        height: 600px;
        padding: 100px 0;
        .content {
            grid-column: 1/9;
            height: 380px;
            padding: 50px 50px;
            border-radius: 15px;
        }
    }
    .backGround {
        .image {
            top: 40%;
            right: 10%;
            width: 700px;
        }
    }
}
@media only screen and (max-width: 1180px) {
    .main-header {
        height: 90px;
        .content {
            grid-column: 1/13;
            .search {
                width: 60px;
                height: 60px;
            }
        }
    }
    .text {
        height: 400px;
        padding: 100px 0;
        .content {
            grid-column: 1/9;
            height: 300px;
            padding:30px 30px;
            border-radius: 15px;
        }
    }
    .backGround {
        .image {
            top: 40%;
            right: 5%;
            width: 550px;
        }
    }
}
@media only screen and (max-width: 1000px) {
    .main-header {
        height: 80px;
        .content {
            grid-column: 1/7;
            width: 290px;
            .search {
                width: 50px;
                height: 50px;
            }
        }
    }
    .text {
        height: 350px;
        padding: 40px 0;
        .content {
            grid-column: 1/7;
            height: 280px;
            padding:30px 15px 120px 15px;
            border-radius: 15px;
        }
    }
    .backGround {
        .image {
            top: 40%;
            right: 10%;
            width: 290px;
        }
    }
}